{% extends 'bootstrap/base.html' %}

{% block head %}
    {{super()}}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/typeahead.js"></script>

    {{ fontawesome_html() }}

{% endblock %}

{% block title %}
{% if title %}{{ title }} | NetLogo Dictionary {% else %}Welcome to NetLogo Dictionary{% endif %}
{% endblock %}

{% block navbar %}

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainBar" aria-controls="mainBar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- this navbar brand only shows in mobile mode -->
        <a class="navbar-brand mx-sm-auto d-xs-block d-sm-block d-md-none d-lg-none d-xl-none" href="/"><i class="fas fa-location-arrow"></i> <small>NetLogo Interactive Dictionary</small></a>

        <div class="collapse navbar-collapse" id="mainBar">
            <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Contents
                    </a>
                    <div class="dropdown-menu mt-2 mb-2 ml-1" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/article/getting-started-with-netlogo">Getting Started with NetLogo</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/article/turtles-in-netlogo">Turtles</a>
                        <a class="dropdown-item" href="/article/patches-in-netlogo">Patches</a>
                        <a class="dropdown-item" href="/article/links-in-netlogo">Links</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/dictionary"><i class="fas fa-bookmark"></i> &nbsp; Explore the Dictionary</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/articles">Articles and Guides</a>
                        <a class="dropdown-item" href="/videos">Videos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/article/shapes-and-colors-in-netlogo">Shapes and Colors</a>
                        <a class="dropdown-item" href="/article/netlogo-interface">NetLogo Interface </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://ccl.northwestern.edu/netlogo/models/" target="_blank">Models Library</a>
                        <a class="dropdown-item" href="http://www.modelingcommons.org" target="_blank">Modeling Commons</a>
                        <a class="dropdown-item" href="/article/external-resources">External Resources</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/article/about-this-webpage">About this webpage</a>
                    </div>
                </li>
                <li class="nav-item ml-md-4 ml-xs-0 ml-sm-0">
<!--
                    <form onsubmit="processSearch(); return false;">
                        <div class="input-group">
                            <input type="search" class="form-control py-2 border-right-0"  placeholder="Search" id="primitive-search" >
                            
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white"><i class="fa fa-search"></i></span>
                            </div>
                            
                        </div>
                        <input type="submit" style="display: none;">
                    </form>
-->
                    <form onsubmit="processSearch(); return false;">
 
                        <input id="primitive-search" type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-button">  
                       
                        <input type="submit" class="d-none">
                    </form>
                </li>
                <li>
                </li>
            </ul>
            <!-- this navbar brand only shows in desktop mode -->
            <ul class="navbar-nav mx-sm-auto d-none d-sm-block">
                <a class="navbar-brand" href="/"><i class="fas fa-location-arrow"></i> NetLogo Interactive Dictionary</a>
            </ul>
            <ul class="navbar-nav mx-auto mr-sm-2">
                <li class="nav-item">
                    <a class="nav-link" href="http://ccl.northwestern.edu/netlogo/" target="_blank" tabindex="-1" aria-disabled="true"><i class="fas fa-cloud-download-alt"></i> <span class="">Download NetLogo</span></a>
                </li>
            </ul>
        </div>
    </div>

    <style>
.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
    </style>
    <script type="text/javascript">
        "use strict";

        var primitivesLoaded = new Event('primitivesLoaded');
        var primitives;
        var primitiveNames;
        var primitivesBloodhound;

        var myTokenizer = function(datum){
            if(primitives.hasOwnProperty(datum) && primitives[datum].hasOwnProperty("search_terms")){
                return Bloodhound.tokenizers.nonword(datum).concat(primitives[datum]["search_terms"]);
            }
            return Bloodhound.tokenizers.nonword(datum);
        }

        $.getJSON("/static/primitives.json", function(obj){
            primitives = obj["primitives"];
            primitiveNames = Object.entries(obj["primitives"]).map(function(e){return e[0];});
            // Bloodhound is the "Search engine" built into typeahead
            primitivesBloodhound = new Bloodhound({
                // split tokens by non-word characters so that you can, say, search 
                // for `create-links-with` by typing `links`
                datumTokenizer: myTokenizer, 
                queryTokenizer: Bloodhound.tokenizers.nonword,
                local: primitiveNames
            });
            window.dispatchEvent(primitivesLoaded);
        });

        var processSearch = function(){
            let text = $("#primitive-search").val();
            if (primitiveNames.includes(text)){
                window.location.assign("/primitive/" + text);
            } else if (text != ""){
                window.location.assign("/search?term=" + encodeURI(text));
            } else {
                window.location.assign("/search?"); 
            }
        }

        window.addEventListener('primitivesLoaded', function(){
            $('#primitive-search').typeahead({
                hint: false,
                highlight: true,
                minLength: 1
            },
            {
                name: 'primitives',
                source: primitivesBloodhound
            });
            
            // bind the "select an item" event to run the search
            $('#primitive-search').bind('typeahead:select', function(ev, text){
                processSearch();
            })
        });

    </script>

</nav>

{% endblock %}

{% block content %}
<div class="container">
    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}

    {%- block footer %}
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <footer>
        <div class="row">

            <div class="col-md-6">
                © 2020 <a href="http://ccl.northwestern.edu">
                    Center for Connected Learning &amp; Computer-Based Modeling
                    </a>
            </div>
            <div class="col-md-6 text-right">
                <a href="https://ct-stem.northwestern.edu" target="_blank">Teach STEM with NetLogo</a>
                &nbsp; &nbsp;
                <a href="http://ccl.northwestern.edu/netlogo/docs/dictionary.html" target="_blank">Full Dictionary</a>
            </div>

        </div>


    </footer>
    <div class="clearfix">&nbsp;</div>
    {%- endblock footer %}
</div>

{% endblock %}

{% block scripts %}
    <!-- {{super()}} -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}