{% macro random_primitives(num=5) %}
    <div id="primitives-card-deck" class="card-deck row no-gutters d-block d-lg-flex cm-s-netlogo-default"></div>
    
    <script type="text/javascript">
        "use strict";

        window.addEventListener('primitivesLoaded', function(){
            let entries = Object.entries(primitives);
            let shuffledEntries = entries
                .map((a) => ({sort: Math.random(), value: a}))
                .sort((a,b) => a.sort - b.sort)
                .map((a) => a.value)
            let primitives_card_deck = $local("#primitives-card-deck");
    
            for (let i = 0; i < Math.min({{num}}, shuffledEntries.length); i++){
                let primitive_name = shuffledEntries[i][0];
                let primitive_object = shuffledEntries[i][1];
                if(primitive_object.hasOwnProperty('display_name')){
                    primitive_name = primitive_object['display_name']
                }
                let card    = $local('<div class="card mb-2 "></div>').appendTo(primitives_card_deck);
                let body    = $local('<div class="card-body"></div>').appendTo(card);
                    $local('<h5 class="card-title"><a id="card-title-a"  href="/primitive/' + primitive_name + '"><code>' + primitive_name + '</code></a></h5>').appendTo(body);
                $local('<p class="card-text">' + primitive_object["short_description"] + '</p>').appendTo(body);
                $local('<a href="/primitive/' + primitive_name + '" class="btn btn-primary align-baseline m-2 stretched-link">Read more</a>').appendTo(card);
            }

            $local(".card-title code").each(function(i, e){
                CodeMirror.runMode(e.textContent, "netlogo", e);
            });
        })
    </script>
{% endmacro %}