<!-- Reusable components  -->

{% macro random_primitives(num=5) %}
    <div id="random-primitive-deck" class="card-deck row no-gutters d-block d-lg-flex cm-s-netlogo-default"></div>
    
    <script type="text/javascript">
        "use strict";
        window.addEventListener('primitivesLoaded', function(){
            let entries = Object.entries(primitives);
            let shuffledEntries = entries
                .map((a) => ({sort: Math.random(), value: a}))
                .sort((a,b) => a.sort - b.sort)
                .map((a) => a.value)
            let primitives_card_deck = $local("#random-primitive-deck");
    
            for (let i = 0; i < Math.min({{num}}, shuffledEntries.length); i++){
                let primitive_name = shuffledEntries[i][0];
                let primitive_object = shuffledEntries[i][1];
                if(primitive_object.hasOwnProperty('display_name')){
                    primitive_name = primitive_object['display_name']
                }
                let card    = $local('<div class="card mb-2 "></div>').appendTo(primitives_card_deck);
                let body    = $local('<div class="card-body"></div>').appendTo(card);
                    $local('<h5 class="card-title"><a id="card-title-a"  href="/primitive/' + primitive_name + '"><code class="font-weight-bold">' + primitive_name + '</code></a></h5>').appendTo(body);
                $local('<p class="card-text">' + primitive_object["short_description"] + '</p>').appendTo(body);
                $local('<a href="/primitive/' + primitive_name + '" class="btn btn-primary align-baseline m-2 stretched-link">Read more</a>').appendTo(card);
            }
        });
    </script>
{% endmacro %}

{% macro list_of_primitives(list_of_primitives_objects = []) %}
    <div class="card-deck row no-gutters d-block d-lg-flex cm-s-netlogo-default">
        {% for primitive in list_of_primitives_objects %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title"><a id="card-title-a"
                            href="/primitive/{{primitive['identity']}}"><code class="font-weight-bold">{{primitive['display_name']}}</code></a></h5>
                    <p class="card-text">{{primitive['short_description']}}</p>
                </div><a href="/primitive/{{primitive['identity']}}" class="btn btn-primary align-baseline m-2 stretched-link">Read more</a>
            </div> 
        {% endfor %}
    </div>
{% endmacro %}

<!-- What's next sections -->

{% macro related_library_models(list_of_strings = [], display_name = "") %}
    {%if list_of_strings != [] %} 
        <div class="clearfix">&nbsp;</div>
        <h5 id="mlmodels" class="mb-2 cm-s-netlogo-default">Published NetLogo models that use the <code>{{display_name}}</code> primitive</h5>
    
        {% for model_name in list_of_strings %}
            <a href="https://ccl.northwestern.edu/netlogo/models/{{model_name.replace(' ', '')}}" target="_blank" class="lead">{{model_name}}</a><br>
        {% endfor %}
            

        <div class="clearfix">&nbsp;</div>
    {% endif %}
{% endmacro %}

{% macro related_primitives(see_also = []) %}
    {%if see_also != [] %}
        <div class="clearfix">&nbsp;</div>

        <h5>Related primitives:</h5>

        {{ list_of_primitives(see_also) }}

    {% endif %}
{% endmacro %}

{% macro explore_another_primitive() %}

    <div class="clearfix">&nbsp;</div>

    <h5>Learn another primitive</h5>
    {{random_primitives(num=4)}}
    
    

    <div class="clearfix">&nbsp;</div>
{% endmacro %}

<!-- Utilities -->

{% macro syntax_highlight(jquery_string) %}
    <script src="/static/js/codemirror/runmode.js"></script>
    <script type="text/javascript">
        $local("{{jquery_string}}").each(function(i, e){
            CodeMirror.runMode(e.textContent, "netlogo", e);
        });
    </script>
{% endmacro %}