{% extends "base.html" %}

{% block app_content %}

<h2 class="display-4 mt-4 col-md-12"> The Dictionary of NetLogo Primitives </h2>
<div class="clearfix">&nbsp;</div>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                A welcoming sentence here telling users how to use this page.
            </p>
        </div>
    </div>

    <div class="clearfix">&nbsp;</div>

    <div class="row">
        <div class="col-md-12 border rounded p-4 m-3">
            <h5>Filters</h5>

            <form class="form-inline">
                <div class="form-check form-check-inline" onclick="refreshDictionaryItems();">
                    <input class="form-check-input" type="checkbox" id="showObserverPrimitives" value="showObserverPrimitives" checked>
                    <label class="form-check-label" for="showObserverPrimitives"><i class="fas fa-eye mr-1 p-1 "></i> Observer</label>
                </div>
                <div class="form-check form-check-inline" onclick="refreshDictionaryItems();">
                    <input class="form-check-input" type="checkbox" id="showTurtlePrimitives" value="showTurtlePrimitives" checked>
                    <label class="form-check-label" for="showTurtlePrimitives"><i class="fas fa-location-arrow mr-1 text-danger p-1"></i> Turtles</label>
                </div>
                <div class="form-check form-check-inline" onclick="refreshDictionaryItems();">
                    <input class="form-check-input" type="checkbox" id="showPatchPrimitives" value="showPatchPrimitives" checked>
                    <label class="form-check-label" for="showPatchPrimitives"> <i class="fas fa-square mr-1 p-1 text-success"></i> Patches</label>
                </div>
                <div class="form-check form-check-inline" onclick="refreshDictionaryItems();">
                    <input class="form-check-input" type="checkbox" id="showLinkPrimitives" value="showLinkPrimitives" checked>
                    <label class="form-check-label" for="showLinkPrimitives"><i class="fas fa-project-diagram mr-1 p-1 text-warning"></i>Links</label>
                </div>
                <div class="form-check form-check-inline" onclick="refreshDictionaryItems();">
                    <input class="form-check-input" type="checkbox" id="showUtilityPrimitives" value="showUtilityPrimitives" checked>
                    <label class="form-check-label" for="showUtilityPrimitives"><i class="fas fa-bolt mr-1 p-1 text-secondary"></i> Utilities</label>
                </div>

                
                <button type="button" class="btn btn-primary ml-md-auto mt-md-0 mt-4"> <i class="fas fa-random"></i> Random Primitive</button>                
            </form>

            <div class="clearfix">&nbsp;</div>

            <h5>Alphabetical</h5>
            {%for letter in letters %}
            <a href="#starts-with-{{letter}}" class="mr-4 lead">{{letter}}</a>
            {%endfor%}


        </div>
    </div>

    <div class="clearfix">&nbsp;</div>

    <div class="clearfix">&nbsp;</div>


    <div class="row">
        <div class="col-md-12" style="position: relative;">

            {%for letter in letters %}
            <div id="starts-with-{{letter}}" class="pt-4  cm-s-netlogo-default">
                <h2>{{letter}} <span class="badge badge-light text-small float-right"><a href="#"> <small class="muted"> back to top <i class="fas fa-level-up-alt"></i> </small></a></span></h2>
                <hr />
                
                {%set outer_loop = loop%}
                {%set ltr = letters[outer_loop.index - 1].lower()%}
                
                {%for p in dictionary.primitives.keys() if p.startswith(ltr)%}

                        <div class="card dictionary-entry 
                                    {%if 'observer'  in dictionary.primitives[p].agents%} observer  {%endif%}
                                    {%if 'turtles'   in dictionary.primitives[p].agents%} turtles   {%endif%}
                                    {%if 'patches'   in dictionary.primitives[p].agents%} patches   {%endif%}
                                    {%if 'links'     in dictionary.primitives[p].agents%} links     {%endif%}
                                    {%if 'utilities' in dictionary.primitives[p].agents%} utilities {%endif%}
                                    ">
                            <div class="card-body">
                                <h5 class="card-title"><a href="/primitive/{{p}}" class="card-link"><code>{{dictionary.primitives[p]['display_name']}}</code></a></h5>
                                <p>  
                                    <small>
                                        {%if 'observer' in dictionary.primitives[p].agents%}
                                        <span class="badge badge-light">
                                            <i class="fas fa-eye"></i> observer
                                        </span>
                                        {%endif%}
                                        
                                        {%if 'turtles' in dictionary.primitives[p].agents%}
                                        <span class="badge badge-danger">
                                            <i class="fas fa-location-arrow"></i> turtles
                                        </span>
                                        {%endif%}
                                        
                                        {%if 'patches' in dictionary.primitives[p].agents%}
                                        <span class="badge badge-success">
                                            <i class="fas fa-square-full"> </i> patches
                                        </span>
                                        {%endif%}
                                        
                                        {%if 'links' in dictionary.primitives[p].agents%}
                                        <span class="badge badge-warning">
                                            <i class="fas fa-project-diagram"></i> links
                                        </span>
                                        {%endif%}
                                        
                                        {%if 'utilities' in dictionary.primitives[p].agents%}
                                        <span class="badge badge-secondary">
                                            <i class="fas fa-bolt"></i> utilities
                                        </span>
                                        {%endif%}
                                    
                                    </small>
                                </p>
                                <p class="card-text">{{dictionary.primitives[p].short_description}}</p>
                                <span style="float: right;"><a href="/primitive/{{p}}" class="btn btn-primary ml-md-auto">Read more</a></span>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                
                    {%endfor%}
            </div>
            {%endfor%}
        </div>

    </div>
</div>

<script type="text/javascript">
    "use strict";
    
    var refreshDictionaryItems = function(){
        let showObserverPrimitives = document.getElementById("showObserverPrimitives").checked;
        let showTurtlePrimitives   = document.getElementById("showTurtlePrimitives").checked;
        let showPatchPrimitives    = document.getElementById("showPatchPrimitives").checked;
        let showLinkPrimitives     = document.getElementById("showLinkPrimitives").checked;
        let showUtilityPrimitives  = document.getElementById("showUtilityPrimitives").checked;
        
        
        $local(".dictionary-entry").each(function(i,e){
            e.style = "display: none;"
            if(showObserverPrimitives && $local(e).hasClass('observer')){
                e.style = "display: default;" 
            }
            if(showTurtlePrimitives && $local(e).hasClass('turtles')){
                e.style = "display: default;" 
            }
            if(showPatchPrimitives && $local(e).hasClass('patches')){
                e.style = "display: default;" 
            }
            if(showLinkPrimitives && $local(e).hasClass('links')){
                e.style = "display: default;" 
            }
            if(showUtilityPrimitives && $local(e).hasClass('utilities')){
                e.style = "display: default;" 
            }
        });
        // recolor the prims after displaying them properly
        $local(".card-title code").each(function(i, e){
            CodeMirror.runMode(e.textContent, "netlogo", e);
        });    
    };
    refreshDictionaryItems();
</script>

{% endblock %}