{% extends "base.html" %}

{% block app_content %}

<h2 class="display-4 mt-4 col-md-12"> The Dictionary of NetLogo Primitives </h2>
<div class="clearfix">&nbsp;</div>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                A welcoming sentence here telling users how to use this page.
            </p>
        </div>
    </div>

    <div class="clearfix">&nbsp;</div>

    <div class="row">
        <div class="col-md-12 border rounded p-4 m-3">
            <h5>Filters</h5>

            <form class="form-inline">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Observer</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Turtles</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Patches</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Links</label>
                </div>

                
                <button type="submit" class="btn btn-primary ml-md-auto"> <i class="fas fa-random"></i> Random Primitive</button>                
            </form>

            <div class="clearfix">&nbsp;</div>

            <h5>Alphabetical</h5>
            {%for letter in letters %}
            <a href="#starts-with-{{letter}}" class="mr-4 lead">{{letter}}</a>
            {%endfor%}


        </div>
    </div>

    <div class="clearfix">&nbsp;</div>

    <div class="clearfix">&nbsp;</div>


    <div class="row">
        <div class="col-md-12" style="position: relative;">

            {%for letter in letters %}
            <div id="starts-with-{{letter}}" class="pt-4">
                <p>&nbsp;</p>
                <h2>{{letter}} <span class="badge badge-light text-small float-right"><a href="#"> <small class="muted"> back to top <i class="fas fa-level-up-alt"></i> </small></a></span></h2>
                <hr />
                
                {%set outer_loop = loop%}
                {%set ltr = letters[outer_loop.index - 1].lower()%}
                
                {%for p in dictionary.primitives.keys() if p.startswith(ltr)%}

                        <div class="card">
                            <div class="card-body">
                                <a href="/primitive/{{p}}" class="card-link"><h5 class="card-title">{{p}}</h5></a>
                                <p>  
                                    <small>
                                        {%if 'observer' in dictionary.primitives[p].agents%}
                                        <span class="badge badge-light">
                                            <i class="fas fa-eye"></i> observer
                                        </span>
                                        {%endif%}
                                        
                                        {%if 'turtles' in dictionary.primitives[p].agents%}
                                        <span class="badge badge-danger">
                                            <i class="fas fa-location-arrow"></i> turtles
                                        </span>
                                        {%endif%}
                                        
                                        {%if 'patches' in dictionary.primitives[p].agents%}
                                        <span class="badge badge-success">
                                            <i class="fas fa-square-full"> </i> patches
                                        </span>
                                        {%endif%}
                                        
                                        {%if 'links' in dictionary.primitives[p].agents%}
                                        <span class="badge badge-warning">
                                            <i class="fas fa-project-diagram"></i> links
                                        </span>
                                        {%endif%}
                                    
                                    </small>
                                </p>
                                <p class="card-text">{{dictionary.primitives[p].short_description}}</p>
                                <a href="/primitive/{{p}}" class="card-link">Read more</a>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                
                    {%endfor%}
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                {%endfor%}
            </div>
        </div>

    </div>
</div>

{% endblock %}