{% extends "base.html" %}

{% block app_content %}

<h2 class="display-4 mt-4 col-md-12"> The Dictionary of NetLogo Primitives </h2>
<div class="clearfix">&nbsp;</div>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                A welcoming sentence here telling users how to use this page.
            </p>
        </div>
    </div>

    <div class="clearfix">&nbsp;</div>

    <div class="row">
        <div class="col-md-12 border rounded p-4 m-3">
            <h5>Filters</h5>

            <form class="form-inline">
                <div class="form-check form-check-inline" onclick="refreshDictionaryItems();">
                    <input class="form-check-input" type="checkbox" id="showObserverPrimitives" value="showObserverPrimitives" checked>
                    <label class="form-check-label" for="showObserverPrimitives">Observer</label>
                </div>
                <div class="form-check form-check-inline" onclick="refreshDictionaryItems();">
                    <input class="form-check-input" type="checkbox" id="showTurtlePrimitives" value="showTurtlePrimitives" checked>
                    <label class="form-check-label" for="showTurtlePrimitives">Turtles</label>
                </div>
                <div class="form-check form-check-inline" onclick="refreshDictionaryItems();">
                    <input class="form-check-input" type="checkbox" id="showPatchPrimitives" value="showPatchPrimitives" checked>
                    <label class="form-check-label" for="showPatchPrimitives">Patches</label>
                </div>
                <div class="form-check form-check-inline" onclick="refreshDictionaryItems();">
                    <input class="form-check-input" type="checkbox" id="showLinkPrimitives" value="showLinkPrimitives" checked>
                    <label class="form-check-label" for="showLinkPrimitives">Links</label>
                </div>

                
                <button type="button" class="btn btn-primary ml-md-auto mt-md-0 mt-4"> <i class="fas fa-random"></i> Random Primitive</button>                
            </form>

            <div class="clearfix">&nbsp;</div>

            <h5>Alphabetical</h5>
            {%for letter in letters %}
            <a href="#starts-with-{{letter}}" class="mr-4 lead">{{letter}}</a>
            {%endfor%}


        </div>
    </div>

    <div class="clearfix">&nbsp;</div>

    <div class="clearfix">&nbsp;</div>


    <div class="row">
        <div class="col-md-12" style="position: relative;">

            {%for letter in letters %}
            <div id="starts-with-{{letter}}" class="pt-4">
                <h2>{{letter}} <span class="badge badge-light text-small float-right"><a href="#"> <small class="muted"> back to top <i class="fas fa-level-up-alt"></i> </small></a></span></h2>
                <hr />
                
                {%set outer_loop = loop%}
                {%set ltr = letters[outer_loop.index - 1].lower()%}
                
                {%for p in dictionary.primitives.keys() if p.startswith(ltr)%}

                        <div class="card dictionary-entry 
                                    {%if 'observer' in dictionary.primitives[p].agents%} observer {%endif%}
                                    {%if 'turtles'  in dictionary.primitives[p].agents%} turtles  {%endif%}
                                    {%if 'patches'  in dictionary.primitives[p].agents%} patches  {%endif%}
                                    {%if 'links'    in dictionary.primitives[p].agents%} links    {%endif%}
                                    ">
                            <div class="card-body">
                                <code><a href="/primitive/{{p}}" class="card-link"><h5 class="card-title">{{p}}</h5></a></code>
                                <p>  
                                    <small>
                                        {%if 'observer' in dictionary.primitives[p].agents%}
                                        <span class="badge badge-light">
                                            <i class="fas fa-eye"></i> observer
                                        </span>
                                        {%endif%}
                                        
                                        {%if 'turtles' in dictionary.primitives[p].agents%}
                                        <span class="badge badge-danger">
                                            <i class="fas fa-location-arrow"></i> turtles
                                        </span>
                                        {%endif%}
                                        
                                        {%if 'patches' in dictionary.primitives[p].agents%}
                                        <span class="badge badge-success">
                                            <i class="fas fa-square-full"> </i> patches
                                        </span>
                                        {%endif%}
                                        
                                        {%if 'links' in dictionary.primitives[p].agents%}
                                        <span class="badge badge-warning">
                                            <i class="fas fa-project-diagram"></i> links
                                        </span>
                                        {%endif%}
                                    
                                    </small>
                                </p>
                                <p class="card-text">{{dictionary.primitives[p].short_description}}</p>
                                <span style="float: right;"><a href="/primitive/{{p}}" class="btn btn-primary ml-md-auto">Read more</a></span>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                
                    {%endfor%}
            </div>
            {%endfor%}
        </div>

    </div>
</div>

<script type="text/javascript">
    "use strict";
    
    var refreshDictionaryItems = function(){
        let showObserverPrimitives = document.getElementById("showObserverPrimitives").checked;
        let showTurtlePrimitives   = document.getElementById("showTurtlePrimitives").checked;
        let showPatchPrimitives    = document.getElementById("showPatchPrimitives").checked;
        let showLinkPrimitives     = document.getElementById("showLinkPrimitives").checked;
        
        $(".dictionary-entry").each(function(i,e){
            e.style = "display: none;"
            if(showObserverPrimitives && $(e).hasClass('observer')){
                e.style = "display: default;" 
            }
            if(showTurtlePrimitives && $(e).hasClass('turtles')){
                e.style = "display: default;" 
            }
            if(showPatchPrimitives && $(e).hasClass('patches')){
                e.style = "display: default;" 
            }
            if(showLinkPrimitives && $(e).hasClass('links')){
                e.style = "display: default;" 
            }
        })
    };
    refreshDictionaryItems();
</script>

{% endblock %}