{% extends "base.html" %}

{% block app_content %}



<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

<div class="row align-items-center">
    <div class="col-md-7">

        <h1 class="display-4">The Beginner's Guide to NetLogo Programming</h1>
        <p class="lead">
            Learn how to create computational models with the NetLogo agent-based modeling environment through novice-friendly explanations and interactive code examples.
        </p>

        <p>
            <a href="#"><u>What is NetLogo?</u></a>
            &nbsp; &nbsp;
            <a href="#"><u>Create your first model</u></a>
            &nbsp; &nbsp;
            <a href="#"><u>The first 10 primitives to learn</u></a>
            &nbsp; &nbsp;

        </p>
    </div>

    <div class="col-md-5">
        <img class="col-lg-12" src="/static/branding/banner-with-code.png" />
    </div>
</div>


<div class="clearfix">&nbsp;</div>

<div class="row">
    <div class="col-md-12 mt-5">
        <h3>Learn a new primitive</h3>
        <div class="clearfix">&nbsp;</div>

        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-primary">face</h5>
                    <p class="card-text">sets a turtle’s heading to point towards another agent. </p>
                    <a href="/primitive/face" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-primary">import-pcolors</h5>
                    <p class="card-text">is a primitive that allows importing an image. </p>
                    <a href="/primitive/import-pcolors" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color:purple;">random-normal</h5>
                    <p class="card-text">Short explanation coming here </p>
                    <a href="/primitive/random-normal" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color:purple;">neighbors4</h5>
                    <p class="card-text">Short explanation coming here </p>
                    <a href="/primitive/neighbors4" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-primary">in-radius-to</h5>
                    <p class="card-text">Short explanation coming here </p>
                    <a href="/primitive/in-radius" class="card-link">Read more</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12 mt-5">
        <h3>Video Tutorials</h3>
        <div class="clearfix">&nbsp;</div>

        <div class="card-deck">
            <div class="card">
                <i class="fas fa-4x text-center fa-play p-4 mt-4 card-img-top"></i>
                <div class="card-body">
                    <h5 class="card-title">Turtle Geometry</h5>
                    <p class="card-text">Learn how to use turtles to draw shapes in NetLogo. </p>
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card">
                <i class="fas fa-4x text-center fa-play p-4 mt-4 card-img-top"></i>
                <div class="card-body">
                    <h5 class="card-title">What is an agentset?</h5>
                    <p class="card-text">Learn what are agentsets and how to use them in NetLogo models. </p>
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card">
                <i class="fas fa-4x text-center fa-play p-4 mt-4 card-img-top"></i>
                <div class="card-body">
                    <h5 class="card-title">Using links to create networks</h5>
                    <a href="#" class="card-link">Watch the video</a>
                </div>
            </div>
            <div class="card">
                <i class="fas fa-4x text-center fa-play p-4 mt-4 card-img-top"></i>
                <div class="card-body">
                    <h5 class="card-title">What is emergence?</h5>
                    <a href="#" class="card-link">Watch the video</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12 mt-5">
        <h3>Articles and Guides</h3>
        <div class="clearfix">&nbsp;</div>


        <ul class="list-unstyled">
            <li class="media">
                <i class="fas fa-2x fa-shoe-prints mr-3 p-2"></i>
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Introduction to the NetTango Builder</h5>
                    <p>NetTango is a domain-blocks-based interface for the NetLogo agent-based modeling environment. It is a great tool for teachers to create easy-to-learn programming activities for their students. In this step-by-step tutorial, we explain how to create a blocks-based blocks-based programming interface for the NetLogo Ants model. Along the way, we are going to explain each component of the NetTango Builder in detail. We are also going to cover the relevant concepts, interface tools, and alternative design choices.</p>
                    <p>
                        <a href="https://anttango.netlify.app" target="_blank">Read this tutorial</a>
                    </p>
                </div>
            </li>
            <li class="media my-4">
                <i class="fas fa-2x fa-shoe-prints mr-3 p-2"></i>
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Introduction to Behaviorspace</h5>
                    <p>Behaviorspace is a tool bundled with NetLogo that allows us to run automated experiments with our NetLogo models. In this tutorial, we will briefly show you how to create a BehaviorSpace experiment and run it.</p>
                    <p>
                        <a href="#">Read this tutorial</a>
                    </p>
                </div>
            </li>
            <li class="media">
                <i class="fas fa-2x fa-list mr-3 p-2"></i>
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Top 10 Resources to Learn about Complex Systems</h5>
                    <p>If you are interested in learning more about complex systems, we compiled a book &amp; online resource list.</p>
                    <p>
                        <a href="#">Read this tutorial</a>
                    </p>
                </div>
            </li>
        </ul>

    </div>
</div>

{% endblock %}