{% extends "base.html" %}

{% block app_content %}



<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

<div class="row align-items-center">
    <div class="col-md-7">
        <div class="clearfix">&nbsp;</div>

        <h1 class="display-4">The Beginner's Guide to NetLogo Programming</h1>
        <p class="lead">
            Learn how to create computational models with the NetLogo agent-based modeling environment through novice-friendly explanations and interactive code examples.
        </p>

        <p>
            <a href="#"><u>What is NetLogo?</u></a>
            &nbsp; &nbsp;
            <a href="#"><u>Create your first model</u></a>
            &nbsp; &nbsp;
            <a href="#"><u>The first 10 primitives to learn</u></a>
            &nbsp; &nbsp;

        </p>
    </div>

    <div class="col-md-5">
        <img class="col-lg-12" src="/static/branding/banner-with-code.png" />
    </div>
</div>


<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

<div class="row">
    <div class="col-md-12 mt-5">
        <h3>Learn a new primitive</h3>
        <div class="clearfix">&nbsp;</div>

        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-primary">face</h5>
                    <p class="card-text">sets a turtle’s heading to point towards another agent. </p>
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-primary">import-pcolors</h5>
                    <p class="card-text">is a primitive that allows importing an image. </p>
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color:purple;">random-normal</h5>
                    <p class="card-text">Short explanation coming here </p>
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color:purple;">neighbors4</h5>
                    <p class="card-text">Short explanation coming here </p>
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-primary">move-to</h5>
                    <p class="card-text">Short explanation coming here </p>
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            
        </div>

    </div>
</div><div class="row">
    <div class="col-md-12 mt-5">
        <h3>Video Tutorials</h3>
        <div class="clearfix">&nbsp;</div>

        <div class="card-deck">
            <div class="card">
                <img src="/static/img/player.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Turtle Geometry</h5>
                    <p class="card-text">Learn how to use turtles to draw shapes in NetLogo. </p>
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card">
                <img src="/static/img/player.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">What is an agentset?</h5>
                    <p class="card-text">Learn what are agentsets and how to use them in NetLogo models. </p>
                    <a href="#" class="card-link">Read more</a>
                </div>
            </div>
            <div class="card">
                <img src="/static/img/player.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Using links to create networks</h5>
                    <a href="#" class="card-link">Watch the video</a>
                </div>
            </div>
            <div class="card">
                <img src="/static/img/player.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">What is emergence?</h5>
                    <a href="#" class="card-link">Watch the video</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}