{% extends "base.html" %}
{% import 'common_macros.html' as common %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/codemirror.css">
<link rel="stylesheet" href="/static/css/netlogo.css">

<link rel="stylesheet" href="/static/css/primitive.css">

<script src="/static/js/codemirror.js"></script>
<script src="/static/js/codemirror/simple.js"></script>
<script src="/static/js/codemirror/active-line.js"></script>
<script src="/static/js/codemirror/match-highlighter.js"></script>
<script src="/static/js/codemirror/matchbrackets.js"></script>
<script src="/static/js/codemirror/closebrackets.js"></script>
<script src="/static/js/codemirror/show-hint.js"></script>

<script src="/static/js/netlogo.js"></script>
<script src="/static/js/netlogo-hint.js"></script>



{% endblock %}

{% block app_content %}

<h2 id="primtitle" class="display-4 mt-4 col-md-12">{{ display_name }}</h2>

<div class="clearfix">&nbsp;</div>

<div id="description" class="cm-s-netlogo-default col-md-12">
    {{ description|safe }}
</div>


<div class="clearfix">&nbsp;</div>


<h3 class="mt-4 col-md-12 mb-4"> Try it Yourself </h3>
<div id="model" class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Todo: Explanation of how to use this widget., buttons on the top and bottom, comments dont get highlighed</p>
            <p>&nbsp;</p>
        </div>
        
        <div class="col-md-6">
            <input type="hidden" id="originalCode" value="{{code}}" />
            <textarea class="try-editor d-none">{{code}}</textarea>
            <div class="clearfix">&nbsp;</div>
            <div class="form-check ">
                <p>
                <input class="form-check-input" type="checkbox" checked id="limitEditing" />
                <label class="form-check-label" for="limitEditing">
                    Limited Editing <a href="#limitedEditingExplanation" >*</a>
                </label>
                <button type="button" id="recompileCode" class="btn btn-lg btn-success float-right"><i class="fas fa-play"></i> Recompile</button>
                </p>
                <div class="clearfix">&nbsp;</div>
                <p>
                    <button type="button" id="resetCode" class="btn btn-sm btn-secondary float-right"><i class="fas fa-undo"></i> Reset Code</button>
                </p>
            </div>
        </div>
        <div class="col-md-6 p-0">
            {{ basemodel | safe }}
        </div>
    </div>
</div>

<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

<div class="container" id="whatsnext">
<h3>What's next?</h3>
{{common.related_primitives(see_also)}}
{{common.related_library_models(library_models)}}
</div>

<div class="clearfix">&nbsp;</div>
<hr />
<div class="clearfix">&nbsp;</div>
<h5 class="mt-4 col-md-12 mb-4" name="limitedEditingExplanation"> What does limited editing mean? </h5>
<div class="container">
    <p><em>Todo: _Write this._</em></p>
</div>

<script type="text/javascript">
    
    // This procedure runs once every HTML element in the page is loaded
    // It takes the basic textarea above and converts into a code editor
    //    with proper NetLogo code highlighting, autocomplete
    //    //TODO!// highlighting the lines that have the presented primitive 
    //    and even limiting the editing only to those lines with the presented primitive
    $(document).ready(function() {
        
        var primitiveLines = [];

        // convert the textarea element to a codemirror widget
        var editor = CodeMirror.fromTextArea($('.try-editor')[0], {
            mode: 'netlogo',
            theme: 'netlogo-default',
            viewportMargin: Infinity,
            lineNumbers: true,
            lineWrapping: true,
            styleActiveLine: true,
            highlightSelectionMatches: true,
            matchBrackets: true,
            autoCloseBrackets: true,
            showHint: true
        });

        // highlight the lines that include the presented primitive
        //    this is the default setting
        highlight_primitive_lines();
        
        // Recompile the code if the button is clicked
        $('#recompileCode').click(function() {
            world.clearAll(); // clears the model to prevent confusion
            window.postMessage({ type: "nlw-update-model-state", codeTabContents: editor.getValue()}, "*")
        });

        // clear the code & redisplay the original code when the reset code button is clicked
        $('#resetCode').click(function() {
            // gotta temporarily uncheck limitedEditing because
            //    otherwise the edits will be cancelled by the beforeChange
            //      event below
            var wasLimited = $('#limitEditing').is(':checked');
            if (wasLimited) {
                $('#limitEditing').prop('checked', false);
            }
            // bring the original code from the hidden field
            editor.setValue($('#originalCode').val());
            highlight_primitive_lines();
            // also recompile the old code to reset the model
            world.clearAll(); // clears the model to prevent confusion
            window.postMessage({ type: "nlw-update-model-state", codeTabContents: editor.getValue()}, "*");

            if (wasLimited) {
                $('#limitEditing').prop('checked', true);
            }
        });


        // the following handler does two things
        // (1) prevents editing the lines that don't have the presented primitive 
        // (2) autocompletes the code
        editor.on('beforeChange', function(editor, data, value) {
            
            // Dictionary code to make only lines that include this primitive editable
            //   unless the learner unticked the option manually
            if ($('#limitEditing').is(':checked')) {
                line = data.from.line;
                if (!primitiveLines.includes(line)) {
                    data.cancel();
                    return;
                }
            }

            const reg = /[a-z0-9_]/i;
            const {
                origin,
                text
            } = data;
            /// TODO: this needs to be fixed to order shortest primitives first
            if (origin === '+input' && (reg.test(text) || text[0] === ':')) {
                editor.showHint({
                    completeSingle: false,
                });
            }
        });
        
    // brind in the actual NetLogo example code
    {% autoescape false %}
    window.loadModel(`{{model}}`, "{{primitive}}");
    {% endautoescape %}
        
    // defined a function to highlight primitive lines
    // because it needs to run multiple times
    function highlight_primitive_lines(){
        // highlight the lines that include the presented primitive
        //    this is the default setting
        for (i = 0; i < editor.lineCount(); i++) {
            ln = editor.getLineHandle(i);
            // this checks if the primitive is present in this line
            if (ln.text.indexOf('{{primitive}}') >= 0) {
                // and if not, makes those lines a bit gray background
                ln.bgClass = "CodeMirror-highlighted-background";
                primitiveLines.push(i); // to reuse in limited editing functionality
            }
        }
        editor.refresh(); // needed to update the highlighting
    }

    });
</script>

{{common.syntax_highlight(jquery_string="#description code")}}

{% endblock %}