{% extends "base.html" %}
{% import 'common_macros.html' as common %}
{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/codemirror.css">
<link rel="stylesheet" href="/static/css/netlogo.css">

<link rel="stylesheet" href="/static/css/primitive.css">



{% endblock %}

{% block app_content %}
<h2 id="primtitle" class="display-4 mt-4 col-md-12">{{ primitive }}</h2>

<div class="clearfix">&nbsp;</div>

<div id="description" class="cm-s-netlogo-default col-md-12">
    {{ body|safe }}
</div>

<div class="container" id="whatsnext">
    <h3>What's next?</h3>
    {{common.related_primitives(see_also)}}
    {{common.related_library_models(library_models)}}
    {{common.explore_another_primitive()}}
</div>


{% endblock %}