{% extends "base.html" %}

{% block app_content %}

<h2 id="title" class="display-4 mt-4 col-md-12">Results:</h2>

<div id="results" class="container cm-s-netlogo-default">

</div>
<div id="possibleResults" style="display: none;" class="container cm-s-netlogo-default">

    {%for p in dictionary.primitives.keys()%}
    <div id="{{p}}"  class="dictionary-entry">
        <div  class="card  
                    {%if 'observer'  in dictionary.primitives[p].agents%} observer  {%endif%}
                    {%if 'turtles'   in dictionary.primitives[p].agents%} turtles   {%endif%}
                    {%if 'patches'   in dictionary.primitives[p].agents%} patches   {%endif%}
                    {%if 'links'     in dictionary.primitives[p].agents%} links     {%endif%}
                    {%if 'utilities' in dictionary.primitives[p].agents%} utilities {%endif%}
                    ">
            <div class="card-body">
                <h5 class="card-title"><a href="{{ siteurl }}/primitive/{{p}}.html" class="card-link"><code class="font-weight-bold">{{dictionary.primitives[p]['display_name']}}</code></a></h5>
                <p>  
                    <small>
                        {%if 'observer' in dictionary.primitives[p].agents%}
                        <span class="badge badge-light">
                            <i class="fas fa-eye"></i> observer
                        </span>
                        {%endif%}
                        
                        {%if 'turtles' in dictionary.primitives[p].agents%}
                        <span class="badge badge-danger">
                            <i class="fas fa-location-arrow"></i> turtles
                        </span>
                        {%endif%}
                        
                        {%if 'patches' in dictionary.primitives[p].agents%}
                        <span class="badge badge-success">
                            <i class="fas fa-square-full"> </i> patches
                        </span>
                        {%endif%}
                        
                        {%if 'links' in dictionary.primitives[p].agents%}
                        <span class="badge badge-warning">
                            <i class="fas fa-project-diagram"></i> links
                        </span>
                        {%endif%}
                        
                        {%if 'utilities' in dictionary.primitives[p].agents%}
                        <span class="badge badge-secondary">
                            <i class="fas fa-filter"></i> utilities
                        </span>
                        {%endif%}
                    
                    </small>
                </p>
                <p class="card-text lead">{{dictionary.primitives[p].short_description}}</p>
                <span style="float: right;"><a href="{{ siteurl }}/primitive/{{p}}.html" class="btn btn-primary ml-md-auto">Read more</a></span>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
    </div>
    {%endfor%}
</div>

<script type="text/javascript">
    "use strict";

    var searchTerm = "";
    let sortByClosestToSearchTerm = function(a, b){
            let primitiveOnlyOfA = a.replace(/ .*/,'');
            if(primitiveOnlyOfA.includes(searchTerm)){
                return -1;
            }
            let primitiveOnlyOfB = b.replace(/ .*/,'');
            if(primitiveOnlyOfB.includes(searchTerm)){
                return 1;
            }
            return 0;
        }

    window.addEventListener('primitivesLoaded', function(){
        const url = window.location.search;
        const urlParams = new URLSearchParams(url);
        const titleTag = $local("#title");
        const resultsTag = $local("#results");
        
        if (urlParams.has("term")){
            const term = urlParams.get("term");

            let numMatches = 0;
            primitivesBloodhound.search(term, function(datums){
                numMatches = datums.length;
                searchTerm = term;
                datums.sort(sortByClosestToSearchTerm);
                let resultsDiv = $local("#results");
                datums.forEach(function(e){
                    if(e.endsWith("?")){
                        e = e.substring(0, e.length - 1);
                    }
                    $local('#' + e).appendTo(resultsDiv);
                });
            });

            if(numMatches == 0){
                titleTag.text("No matches found. ")
                resultsTag.text("Maybe you can find what you were looking for in the full dictionary ")
                $local('<span><a href="{{ siteurl }}/dictionary.html">here.</a></span>').appendTo(resultsTag);
            } else {
                titleTag.text("Results for: " + term);
            }
        } else {
            $local(".dictionary-entry").each(function(i, e){
                e.setAttribute("style", "display: default;");
            })
        }
    })   
</script>

{% endblock %}