{% extends "base.html" %}
{% import 'common_macros.html' as common %}

{% block app_content %}

<div class="clearfix">&nbsp;</div>
<h1 class="display-4">Videos</h1>
<div class="clearfix">&nbsp;</div>

<div class="row">
    <div class="col-md-12">
        <p class="lead">
            <span class="badge badge-pill badge-warning">DEVS: FIX THIS!!!</span> A welcoming sentence here telling users how to use this page.
        </p>
    </div>
</div>

<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

<div id="description" class="cm-s-netlogo-default col-md-12">
    {% for video in videos %}
    
    
    <div class="media border rounded p-4">
      <img src="/static/vid/img/{{video.href.replace('.mp4', '')}}.jpg" class="align-self-start mr-3 w-25 border rounded" alt="...">
      <div class="media-body">
        <h4>{{video.title}}</h4>
        <p>{{video.short_description}}</p>
        <p><a href="/watch/{{video.href.replace('.mp4', '')}}" class="ml-md-auto text-decoration-none">Watch</a></p>
      </div>
    </div>
    
    <div class="clearfix">&nbsp;</div>
    
    {% endfor %}
</div>

{% endblock %}