{% extends "base.html" %}
{% import 'common_macros.html' as common %}

{% block app_content %}

<div class="clearfix">&nbsp;</div>
<h1 class="display-4">Video Tutorials</h1>
<div class="clearfix">&nbsp;</div>

<div class="row">
    <div class="col-md-12">
        <p class="lead">
            It may be a daunting task to figure out how to create a NetLogo models from scratch. The video tutorials below will walk you through creating simple NetLogo models, explaining each step in detail along the way.
        </p>
    </div>
</div>

<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

<div id="description">
    {% for video in videos %}
    <div class="media border rounded px-2 pt-2">
        <div class="media-body">
            <div class="row">
                <div class="col-xs-4 col-lg-2 mb-lg-2">
                    <img src="{{ siteurl }}/static/vid/img/{{video.href.replace('.mp4', '')}}.jpg" class="align-self-start mr-4 w-100 border rounded">
                </div>
                <div class="col-xs-8 col-lg-10 mt-2">
                    <h4>{{video.title}}</h4>
                    <p>{{video.short_description}}</p>
                    <p class="mt-4 mr-2 text-right">
                        <a href="{{ siteurl }}/watch/{{video.href.replace('.mp4', '')}}.html" class="ml-md-auto text-decoration-none stretched-link btn btn-primary"><i class="fas fa-play mr-2"></i>Watch</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix">&nbsp;</div>

    {% endfor %}
</div>

{% endblock %}