{% extends "base.html" %}
{% import 'common_macros.html' as common %}

{% block app_content %}

<div class="clearfix">&nbsp;</div>

<h1 class="display-4">{{title}}</h1>

<div class="clearfix">&nbsp;</div>

<p class="lead">{{description}}</p>

<div class="clearfix">&nbsp;</div>
 
<video controls class="border rounded p-1 col-12" >
    <source src="{{ siteurl }}/static/vid/{{vid}}.mp4#t=0.1" type="video/mp4">
    Sorry, your browser does not support embedded videos. If you would like to download the video, <a href="{{ siteurl }}/static/vid/{{vid}}.mp4">click here</a>.
</video>    
   

{% endblock %}